header{
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/abstract-purple-tones-background_1102-30.jpg");
}