<div class="about">
  <h2 class="about__h2">
    This project was designed for Upgrade Hub's Full Stack Bootcamp by the
    students:
  </h2>
  <div class="about__authors">

  <div class="about__cards">
      <p class="about__p">Carlota Juncosa Fenech</p>
      <a class="about__a" href="https://github.com/carlotajuncosa">Github</a>
  </div>
  <div class="about__cards">
    <p class="about__p">Guillermo Chacón Poveda</p>
      <a class="about__a" href="https://github.com/BillyVanHeel">Github</a>

  </div>
  </div>
</div>
