<div class="home">
    <h2 class="home__h2">Welcome to our personal database in which you can educate yourself on the basis of feminism.</h2>
    <p class="home__p">Learn about some key <a class="home__a" routerLink="/authors">feminist authors.</a></p>
    <img class="home__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Eo_circle_purple_blank.svg/1200px-Eo_circle_purple_blank.svg.png" alt="purple circle">
    <p class="home__p">Discover the <a class="home__a" routerLink="/waves">history of feminism</a>.</p>
    <img class="home__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Eo_circle_purple_blank.svg/1200px-Eo_circle_purple_blank.svg.png" alt="purple circle">
    <p class="home__p">And since we're developers ourselves, we have dedicated a whole section to <a class="home__a" routerLink="/hackers">feminist hackers</a>.</p>
    <img class="home__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Eo_circle_purple_blank.svg/1200px-Eo_circle_purple_blank.svg.png" alt="purple circle">
    <p class="home__p">And remember you're free to <a class="home__a" routerLink="/contribute">contribute </a>to the site by adding new entries, modifying and deleting them.</p>  
</div>