<p>Welcome to our personal database in which you can educate yourself on the basis of feminism.</p>

<p>Learn about some key <a routerLink="/authors">feminist authors.</a></p>

<p>Discover the <a routerLink="/waves">history of feminism</a>.</p>

<p>And since we're developers ourselves, we have dedicated a whole section to <a routerLink="/hackers">feminist hackers</a>.</p>

<p>And remember you're free to<a routerLink="/contribute">contribute</a>to the site by adding new entries, modifying and deleting them.</p>