<div *ngIf="myAuthor">
  <p>{{ myAuthor.name }}</p>
  <p>Birthdate: {{ myAuthor.birthdate}}</p>
  <p *ngIf="myAuthor.deathdate">Deathdate: {{ myAuthor.deathdate }}</p>
  <p>Ocupation: {{ myAuthor.ocupation }}</p>
  <p>Zodiac sign: {{ myAuthor.zodiacSign }}</p>
  <img *ngIf="myAuthor.authorImg" src="{{ myAuthor.authorImg }}" alt="author image" height="300px" />
  <p *ngIf="myAuthor.mostAwardWork.title">Zodiac sign: {{ myAuthor.mostAwardWork.title }}</p>
  <img *ngIf="myAuthor.mostAwardWork.img" src="{{ myAuthor.mostAwardWork.img }}" alt="artwork image" height="300px" />
</div>
