.waves {
  display: flex;
  padding: 2rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 10px;

  &__card {
    width: 450px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    background-color: white;
    border: 2px solid black;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__h2 {
    font-size: 35px;
    line-height: 70px;
  }
  &__p {
    font-size: 22px;
    text-align:justify;
    margin: 20px;
  }
  &__img {
    float: inherit;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 2px solid black;
  }
}
